<!-- Products Pane-->
<div id="products-pane" class="row py-3 container-fuild">
    <div class="col-12">
        <!-- Table of Products -->
        <table class="w-100 content-table content-table-hover fw-semibold shadow bg-body-tertiary">
            <h2 class="ps-3 py-2 m-0 bg-body-tertiary rounded-top">Products</h2>
            <thead>
                <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Import Price</th>
                    <th scope="col">Retail Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>856578581</td>
                    <td>Digital Camera</td>
                    <td>$50</td>
                    <td>$75</td>
                    <td>Devices</td>
                    <td>01.01.2023</td>
                    <td>
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-warning w-50 fs-5">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                            <button type="button" class="btn btn-danger w-50 fs-5">
                                <i class="fa-solid fa-trash"></i></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Import Price</th>
                    <th scope="col">Retail Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </tfoot>
        </table>
        <!-- /Table of Products -->
    </div>

    <div class="col-12">
        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- /Pagination -->
    </div>
</div>
<!-- /Products -->